.style-0 {
    empty-cells: show; 
    table-layout: fixed; 
    width: 1047pt
}

.style-1 {
    color: black; 
    font-size: 24pt; 
    font-family: serif; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap
}

.style-2 {
    color: black; 
    font-size: 15pt; 
    font-family: serif; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap
}

.style-3 {
    color: black; 
    font-size: 9pt; 
    font-family: serif; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: center; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap; 
    border: 1pt groove black; 
    background-color: #e0e0e0
}

.style-4 {
    color: black; 
    font-size: 9pt; 
    font-family: serif; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: center; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap; 
    border: 1pt groove black
}

.style-5 {
    color: black; 
    font-size: 10pt; 
    font-family: serif; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: center; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap; 
    border: 1pt solid black
}

